<launch>
	<node name="nh" pkg="teensy_centeye" type="LK_vis" args="--test" respawn="true">
		<remap from="optic_flow" to="optic_flow_front" />
		<remap from="optic_markers"      to="optic_markers_front"  />
	</node>


	<node name="nh1" pkg="teensy_centeye" type="LK_vis" args="--test" respawn="true">
		<remap from="optic_flow" to="optic_flow_right" />
		<remap from="optic_markers"      to="optic_markers_right"  />
	</node>

	<node name="nh2" pkg="teensy_centeye" type="LK_vis" args="--test" respawn="true">
		<remap from="optic_flow" to="optic_flow_left" />
		<remap from="optic_markers"      to="optic_markers_left"  />
	</node>

	<node name="nh3" pkg="teensy_centeye" type="LK_vis" args="--test" respawn="true" >
		<remap from="optic_flow" to="optic_flow_back" />
		<remap from="optic_markers"      to="optic_markers_back"  />
	</node>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find teensy_centeye)/rviz/LK_vis.rviz"/>

	<!--  -->
</launch>
