<launch>

  	<node name="rosserial_arduino" type="serial_node.py" pkg="rosserial_arduino">
        	<param name="port" type="string" value="/dev/ttyACM0"/>
        	<param name="baud" type="int" value="115200"/>
  	</node>

  	<node name="teensy_centeye_oflow" type="teensy_centeye_oflow" pkg="teensy_centeye" output="screen">
		<param name="orientation_gain" type="double" value="1.0"/>
		<param name="lateral_gain" type="double" value="1.0"/>
  	</node>
  
	<node name="scan_plot" type="opticflow.py" pkg="teensy_centeye" output="screen" />
</launch>
